@{
    ViewBag.Title = "Inicio";
}

<!--inicia portada-->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(/assets/img/bg/port.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin portada -->
<!-- inicia bienv -->
<div id="about" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-title-section mb-30">
                    <h1>Bienvenidos a la ESFU 1</h1>
                    <p>Sabemos lo complicada que puede llegar a ser la etapa adolescente, ya que empiezan a experimentarcambios intelectuales, 
                    físicos, sociales y emocionales. Por tal motivo en la ESFU 1, por medio del modelo educativo que manejamos, ayudamos a prepararlos para enfrentar de manera positiva estos cambios.</p>
                    <p></p>
                    <p>Nuestros alumnos están acompañados por maestros especialistas en cada área, capacitados en competencias docentes 
                    y en el desarrollo del adolescente para formarlos en un marco educativo integral con bases sólidas enfocadas 
                    al logro de la excelencia académica y el impulso del desarrollo humano y fortalecimiento de la autoestima como factores esenciales para incrementar su potencial en todas las facetas.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about-right-img mb-30">
                    <img src="~/assets/img/bg/aula.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin bienv -->
<!-- slider-->
<div class="slider">
    <ul>

        


        <li> <img src="~/assets/img/slider/sl1.jpg" /></li>
        <li><img src="~/assets/img/slider/sl2.jpg" /></li>
        <li>
            <img src="~/assets/img/slider/sl3.jpg" />
        </li>
        <li><img src="~/assets/img/slider/sl4.jpg" /></li>
    </ul>
</div>
<div>
    <p></p>
</div>
<!-- fin slidermio -->