
@{
    ViewBag.Title = "Mision";
}


<!-- slider-start -->
<div class="slider-area">
    <div class="pages-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(/assets/img/bg/mis_vis.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h2 class="white-color f-700">NUESTRA MISIÓN</h2>
                            <p></p>
                            <h3 class="white-color f-700">
                                Desarrollar las competencias en los alumnos para la vida cotidiana,
                                proporcionando los conocimientos y herramientas necesarias para satisfacer las necesidades educativas
                                de la población logrando alumnos eficientes, reflexivos, analíticos y capaces de resolver situaciones de su vida diaria.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
