
@{
    ViewBag.Title = "Tronco Común";
}

<!-- tonco start -->
<div id="about" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-title-section mb-30">
                    <h4 class="black-color f-700"><center>LA FORMACIÓN ACADÉMICA DE NUESTROS ALUMNOS SE FORJA</center><center>CON LAS SIGUIENTES MATERIAS DE TRONCO COMÚN</center></h4>
                    <p></p>
                    <p>Español.</p>
                    <p>Inglés.</p>
                    <p>Matemáticas.</p>
                    <p>Ciencias (Biología, Física y Química).</p>
                    <p>Geografía de México y El Mundo.</p>
                    <p>Asignatura Estatál.</p>
                    <p>Educación Física.</p>
                    <p>Historia.</p>
                    <p>Formación Cívica y Ética.</p>
                    <p>Artes (Música).</p>
                    <p>Tutoría.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about-right-img mb-30">
                    <img src="~/assets/img/tc.gif" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tronco end -->
