
@{
    ViewBag.Title = "Ubicacion";
}

<!-- ubicacion start -->
<div class="advisors-area gray-bg pt-95 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 offset-md-1 ml-md-auto">
                <div class="contact-info-text">
                    <div class="section-title mb-20">
                        <div class="section-title-heading mb-10">
                            <h1>MAYORES INFORMES</h1>
                        </div>
                        <p></p>
                    </div>
                </div>
                <div class="contact-info mb-50 wow fadeInRight" data-wow-delay=".0s" style="visibility: visible; animation-delay: 0.0s; animation-name: fadeInRight;">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <i class="ti-headphone"></i>
                            </div>
                            <div class="contact-text">
                                <h5>Teléfono</h5>
                                <span>(452) 5234510</span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="contact-text">
                                <h5>Correo Electrónico</h5>
                                <span> secuesfu1@gmail.com</span>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="contact-text">
                                <h5>Domicilio</h5>
                                <span>Loma Larga, Fracc. Lomas del Valle, CP. 60110, Uruapan, Michoacán.</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--mapa inicio-->
            <div class="col-xl-7 col-lg-6 col-md-10 offset-md-1 ml-md-auto">
                <div class="events-details-form faq-area-form mb-30 p-0">
                    <form>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30101.53965698329!2d-102.0638013!3d19.4256896!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842de23f19118965%3A0x6ccec19e393b4809!2sEscuela+ESFU+1!5e0!3m2!1ses-419!2smx!4v1548647227716" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </form>
                </div>
            </div>
            <!--mapa fin-->
        </div>
    </div>
</div>
<!-- ubicacion end -->
