
@{
    ViewBag.Title = "Vision";
}


<!-- slider-start -->
<div class="slider-area">
    <div class="pages-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(/assets/img/bg/mis_vis.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h2 class="white-color f-700">NUESTRA VISIÓN</h2>
                            <p></p>
                            <h3 class="white-color f-700">Ser una Institución con personal capacitado para atender las necesidades de los alumnos y la comunidad, a través de acciones y estrategias que promuevan el trabajo colaborativo, la comprensión lectora, el desarrollo del pensamiento lógico matemático, así como de conocimientos tecnológicos para elevar el nivel de aprendizaje y calidad de la educación en nuestro país.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
