
@{
    ViewBag.Title = "Correo";
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
@using (Html.BeginForm("Correo", "RoleAlumno", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <h4>Registrar tu correo.</h4>
    <br />
    <p>Es importante que registres un correo para que puedas recibir notificaciones sobre la escuela</p>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
            Correo electrónico
        </label>
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            @if (ViewBag.correo != null)
            {
                <input type="email" name="correo" class="form-control" value="@ViewBag.correo" placeholder="correo" required />
            }
            else
            {
                <input type="email" name="correo" class="form-control" value="" placeholder="correo" required />
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <input type="submit" class="btn btn-primary" value="Registrar" />
        </div>
    </div>
}


