
@{
    ViewBag.Title = "Reportes";
    ICollection<esfu1_controlEscolar.Areas.Admins.Models.Reporte> reportes = ViewBag.reportes;
}


@if (reportes.Count() == 0)
{
    <div>
        <img src="~/Areas/assets/img/icon.jpg" />
    </div>
}


<div class="container-fluid">
    <div class="row">
        <div class="panel-group col-md-6">
            @foreach (var reporte in reportes)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">Aviso de reporte</div>
                    <div class="panel-body">
                        @reporte.Reporte_descripcion

                    </div>
                    <div class="panel-footer">Fecha: @reporte.Reporte_fecha.ToShortDateString()</div>
                </div>
            }
        </div>

    </div>
</div>