<div class="header-top primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="header-contact-info d-flex">
                    <div class="copyrights">
                        <p>&copy; @DateTime.Now.Year. Todos los derechos reservados |  Diseñado por ISC. Ricardo Moreno Díaz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
